/* Ramka, marginesy, wyśrodkowanie i maksymalna szerokość */
.record-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #E8E5DA;
    justify-content: center;
    margin: 50px auto;
    max-width: 600px;
}

/* Rozmiar czcionki i marginesy między inputami */
.record-form > * {
    font-size: 1rem;
    margin: 16px;
}

/* Czcionka text area i ustawienie zmiany tylko wysokości */
.record-form > textarea {
    font: 300 1rem 'Roboto', sans-serif;
    height: 5rem;
    resize: vertical;
}

/* Obramowanie elementów formularza */
.record-form > *:not(.record-form-title) {
    padding: 20px;
    border: 1px solid #E8E5DA;
}

/* Wyśrodkowanie tytułu formularza */
.record-form-title {
    margin: 16px auto;
}

/* Zmiana koloru przycisku */
.record-form-button {
    color: white;
    background-color: #648DE5;
}